<!DOCTYPE html>
<html>
<!-------------------------------------------------------------------------------

Rowan Computer Science Dept Spring 2019 Senior Project Team
Rowan Curricular Proposal Mangagement System for Jack Myers rowan

Senior Team Members:
Team Lead:  John Kubach
 Scrum Master:  Joshua Jackson
    Developer:  Alex Kulplin
    Developer:  Jeffrey Podwats
    Developer:  Alaina Smith
    Developer:  Kyle Butera

-----------------------------------------------------------------------------

Description:
 For Front end we are using html java script and python for now.
 Our goal is to get it to just using python.
 Last edit: 4/3/19
------------------------------------------------------------------------------->
<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
<!--==============$$ Start of buttons $$==================================-->
<form action="/navbar" method=POST>
<button name="home" type=submit class= "tablink">Home</button>
<button name="upload" type=submit class= "tablink">Upload</button>
<button name="download" type=submit class= "tablink">Download</button>
<button name="status" type=submit class= "tablink">Status</button>
</form>

<!--=============## end ##================================================-->

<!--==============$$ Start Of Home Page $$================================-->
<!––The Home page––> 
<div id="mainbody" class="tabcontent">
	<!--======= Image For Home page =======-->
	<center>
	<img src="/static/img/Rowan_University_seal.svg.png" alt="Rowan University">

	<h1>Rowan Curricular Proposal Management System</h1>	

    <h3> Select an existing proposal </h3> <br>
    <form action="" method=POST>
    <select name = "proposal">
		<option disabled selected value> -- Select a Proposal -- </option>
            {% for p in prop %}
            <option value="{{ p[0] }}">{{ p[1] }}</option>
            {% endfor %}
    </select>
    <br>
    <input class="button" type=submit value="Select"> <br>
    </form>
    <h4> or <a href="{{ url_for('createProposal') }}">create a new one </a></h4>
    <br>
    <br>
    <h4> <a href="{{ url_for('logout') }}">Logout</a></h4>

	</center>
</div>
	
</body>
<!--========================## end ##===============================================================-->
</html>
