<!DOCTYPE html>
<html>
<!-------------------------------------------------------------------------------

Rowan Computer Science Dept Spring 2019 Senior Project Team
Rowan Curricular Proposal Mangagement System for Jack Myers rowan

Senior Team Members:
Team Lead:  John Kubach
 Scrum Master:  Joshua Jackson
    Developer:  Alex Kulplin
    Developer:  Jeffrey Podwats
    Developer:  Alaina Smith
    Developer:  Kyle Butera

-----------------------------------------------------------------------------

Description:
 Using SVG and connecting frontend to backend we
 Last edit: 4/3/19
------------------------------------------------------------------------------->

	<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	</head>
<body>
<form action="/navbar" method=POST>
<button name="home" type=submit class= "tablink">Home</button>
<button name="upload" type=submit class= "tablink">Upload</button>
<button name="download" type=submit class= "tablink">Download</button>
<button name="status" type=submit class= "tablink">Status</button>
</form>
<!--=====================$$ Start of Status Page $$===============================================-->
<!––The Status page––> 
<div id="Status" class="tabcontent">
	<center>
	<h1>Status Page</h1>
    <h2>{{ prop[0] }}</h2>
    <h3>{{ prop[1] }}</h3>
	</center>
<!--========================== status of the purposal =============================================-->
	<h3>Program Guide</h3>
	<!--============================= SVG for the incomplete =============================================-->
	 {% if doc[0] == 0 %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
			<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
		 </svg>
		<p class="error">Incomplete!</p>
	{% else %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
			<circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
  			<polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
		</svg>
		<p class="Upload success"> Program Guide Success </p>
	{% endif %}
<!--===================================== end ================================================-->

<!--===================================== status of the program guide ==========================-->
	<h3>Assessment Form</h3>
	{% if doc[1] == 0 %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
			<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
	  	</svg>
		<p class="error">Incomplete!</p>
	{% else %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
                <p class="Upload success"> Assessment Form Success </p>
	{% endif %}
	<!--==================================== end ==============================================-->

<!--===================================== Library Resource Form Status ===========================-->
	<h3>Library Resource Form</h3>
	{% if doc[2] == 0 %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
			<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
	 	</svg>
		<p class="error">Incomplete!</p>
	{% else %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
                <p class="Upload success"> Library Resource Form Success  </p>
        {% endif %}	
	<!--====================================== end ============================================-->

	<!--======================================= Assement Status =======================================-->
	<h3>Additional Supporting Documentation</h3>
	{% if doc[3] == 0 %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
			<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
	  	</svg>
		<p class="error">Incomplete!</p>
	{% else %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
                <p class="Upload success">Supporting Document success</p>
        }
        {% endif %}
	<!--============================== end ===================================================-->

	<!--=============================== Consultation Letters Status commented out for now ============================-->
	<h3>Consultation Letters</h3>
	{% if doc[4] == 0 %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
			<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
			<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
	  	</svg>
		<p class="error">Incomplete!</p>
	{% else %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
                <p class="Upload success">Oh Yeah! {{ doc[4] }} consultation letters uploaded</p>
        
        {% endif %}
<!--=================================== end ===========================================-->
</body>
<!--========================## end ##===============================================================-->

	<script type="text/javascript" src="{{ url_for('static', filename='javascript.js') }}"></script>
